.advertisement {
  background: #f5f7f7;
  box-shadow: 0px 0px 4px 0px #fcf9f9;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.ad-btn,
.cancel-btn {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.adtext {
  padding-left: 0.7rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.add-btn {
  margin-left: 2rem;
}
.cancel-btn {
  margin-right: 1rem;
  margin-left: auto;
}
.ad-button-container {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
.adds-container {
  /* display: flex; */
  align-items: center;
  margin-top: 2rem;
}
.adds-container h1 {
  margin-left: 1rem;
}
.ad-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 0.7rem;
  color: rgba(0, 0, 0, 0.86);
}
.add-btn {
  /* padding: 0.55rem 0.85rem; */
  margin-left: 1rem;
  border: none;
  border-radius: 0.2rem;
  background: #d7f1e1;
  height: 2.3rem;
  width: 5.7rem;
  font-weight: bolder;
  border: 2px solid #38ef7d;
  box-shadow: 0px 0px 15px #ffff;
  transition: 0.65s;
}
.add-btn:hover {
  background: #5df597;
}
.ad h3 {
  color: rgba(0, 0, 0, 0.9);
}
.ad {
  display: block;
  margin: 1rem;
}
.ad h3,
.ad p {
  font-family: monospace;
}
.ad-wrapper {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ad-header {
  display: flex;
  align-items: center;
}

.ad-img:hover {
  transform: scale(0.9);
  cursor: pointer;
  transition: 0.4s;
}
.ad-img {
  width: 8.35rem;
  margin-right: 0.1rem;
}
.ad-img img {
  height: 10rem;
}
.none {
  display: none;
}
.links {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1388px) {
  .add-btn {
    margin-right: 1rem;
  }
}
@media (max-width: 999px) {
  .ad-header h1 {
    font-size: 1.4rem;
    /* padding-top: 1rem; */
  }
}
@media (max-width: 779px) {
  .ad-header h1 {
    padding-top: 0rem;
  }
  .sub-btn-container button {
    width: 5rem;
    height: 2.14rem;
    /* margin: 0rem; */
  }
}

@media (max-width: 431px) {
  .adtext {
    font-size: 0.82rem;
  }
}
@media (max-width: 394px) {
  .ad-header h1 {
    font-size: 1.2rem;
    margin-left: 0.3rem;
    padding: 0.2rem;
  }
  .ad-header {
    display: block;
  }
  .sub-btn-container {
    padding-top: 0.4rem;
  }
}
@media (max-width: 369px) {
  .ad-header h1 {
    font-size: 1.1rem;
  }
}
@media (max-width: 334px) {
  .ad {
    margin: 0.6rem;
  }
}
@media (max-width: 311px) {
  .ad {
    margin: 0.4rem;
  }
}
