.Checkout .back{
    width: 2rem;
    cursor: pointer;
    height: 2rem;
    margin-left: 0.5rem;
}

.Checkout .contact form{
    width: 38rem;
    margin: auto;
    padding-top: 4rem;
}
.Checkout .contact form .error{
    text-align: center;
    margin-bottom: 1rem;
    color: red;
    font-weight: bolder;
}
.Checkout .contact form input{
    width: 100%;
    display: block;
    padding:0.6rem 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #e4e1e1;
    margin: 1rem 0rem;
 }

.inputerror{
    background-color: rgba(247, 231, 231, 0.516) !important;
    transition:  5ms ease-out !important;
}
 .Checkout .contact form textarea{
    width: 100%;
    padding:0.4rem 0.5rem;
    font-size: 1rem;
    border: none;
    background-color:  white;
    outline: none;
    border-radius: 0.2rem;
    border: 1px solid #e4e1e1;
    margin-bottom: 1rem;
    resize: none;
    height: 11rem;
 }
 .Checkout .contact form .btnContainer{
     text-align: end;
 }
 .Checkout .contact form .btnContainer button{
     border: none;
     outline: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    padding: 0.4rem 1.2rem;
    width: 13rem;
    height: 4rem;
    font-weight: bolder;
    background-color: #38ef7d;
    color: white;
 }
 .Checkout .contact form .btnContainer  button:hover {
    background: #17cf5e;
  }
  .round{
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid   #38ef7d;
    border-top:3px solid white;
    margin: auto;
    border-radius: 50%;
    animation: round  480ms infinite both;
  }
  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    20%{
      transform: rotate(70deg);
    }
    40%{
      transform: rotate(120deg);
    }
    60%{
      transform: rotate(220deg);
    }
    80%{
      transform: rotate(290deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 

 @media only screen and (max-width:666px) {
    .Checkout .contact form{
        width: 90%;
        margin: auto;
        padding-top: 5.3rem;
    }
}
 @media only screen and (max-width:500px) {
    .Checkout .contact form textarea{
        padding:0.5rem;
        height: 8.5rem;
    }
}
