* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.info h3 {
  font-family: monospace;
}
img {
  width: 100%;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* navigation */
/* add to cart and checkout button */
.btnWrapper {
  width: fit-content;
  margin: auto;
}
.btnWrapper button {
  border: none;
  outline: none;
  background: #38ef7d;
  box-shadow: 0px 1.4px 2px darkgray;
  cursor: pointer;
  padding: 0.8rem 3rem;
  margin: 1rem;
  font-weight: bolder;
}
.btnWrapper button:hover {
  background: #17cf5e;
}
/* product image */
.name {
  margin-left: 5rem;
}
.center {
  margin: auto;
  max-width: 1800px;
}
/* product info */
.product-info-heading {
  width: 100%;
  font-size: 1.3rem;
} 
.laptopCheckout .navigation {
  margin: 0rem;
}

.laptopCheckout .li {
  margin: 0rem;
  padding-top: 1rem;
}
.productwrapper{
  display: block;
}
.naira {
  margin: 0rem;
  font-weight: 900;
}
.info {
  display: flex;
  padding: 0.9rem;
  padding-left: 1.2rem;
  width: 100%;
}

.info h3 {
  font-size: 1.3rem;
}
.grey {
  width: 100%;
  background: rgb(119, 119, 119, 0.7);
}
.white {
  background: #f1f1f1;
}
.generalname {
  margin-left: 2rem;
}
/* pickup */
.img {
  margin: 0rem 0.4rem;
}
.checkoutslider{
  padding: 6rem;
  width: 60%;
  margin: auto;
  height: fit-content;
}
.checkoutslider div {
  margin: auto;
  width: 100%;
}
.checkoutslider div img{
  margin: auto;
  width: 100%;
  /* height:45rem; */
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* javascript code */
.redborder {
  border: red;
  border: 2px solid red;
}
.greenborder {
  border: 3px solid #38ef7d;
}
.redcolor {
  color: red;
}
.none {
  display: none;
}


/* footer */

@media only screen and (max-width: 1111px) {
  .product-info {
    max-width: 36rem;
    margin-right: 2rem;
  }
  .productwrapper {
    display: block;
  }
  .product-info {
    width: 100%;
    max-width: none;
  }
  .checkoutslider{
    width: 88%;
    padding: 0rem;
    padding-top: 5rem;
    padding-bottom: 1.5rem;
  }
  
}

@media only screen and (max-width: 850px) {
  
}
@media only screen and (max-width: 716px) {
  .laptopCheckout .product-info-heading {
    background-color: #f1f1f1;
  }
  .laptopCheckout .product-img-container {
    background-color: #f1f1f1;
    padding-bottom: 1rem;
  }
}

/* addition */
@media only screen and (max-width: 548px) {
  .name {
    font-size: larger;
    margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 481px) {
  .buyitemcontainer{
    width: 100%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 418px) {
  .sm-links {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
 
}
@media only screen and (max-width: 399px) {
  .btnWrapper {
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
  }
  .btnWrapper button {
   margin: 0.4rem;
  }
}
@media only screen and (max-width: 359px) {
  .btnWrapper {
    width: 100%;
    margin-bottom: 1rem;
  }
  .btnWrapper button {
    display: block;
    margin: auto;
    width: 90%;
    margin-bottom: 1.2rem;

  }
}


@media only screen and (max-width: 302px) {
  .app-container h2 {
    font-size: 1.1rem;
  }
  .text-container h2 {
    font-size: 0.9rem;
    padding-left: 0.2rem;
  }
  .text-container p {
    font-size: 0.7rem;
  }
}
