* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.info h3 {
  font-family: monospace;
}
img {
  width: 100%;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* navigation */
.navigation {
  width: 100%;
  display: flex;
  background: #38ef7d;
  height: 3.4rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.company-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-name h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.company-logo-container {
  width: 2rem;
  height: 2rem;
}
/* product image */
.img1,
.img2 {
  margin-left: 2rem;
  border-radius: 0.2rem;
  width: 30%;
  height: auto;
}
.name {
  margin-left: 5rem;
}
.center {
  margin: auto;
  max-width: 1800px;
}
/* product info */
.product-info-heading {
  width: 100%;
  font-size: 1.3rem;
} 
.laptopCheckout{ 
  padding-top: 3.5rem;
}
.laptopCheckout .navigation {
  margin: 0rem;
}

.laptopCheckout .li {
  margin: 0rem;
  padding-top: 1rem;
}
.productwrapper{
  display: block;
}
.naira {
  margin: 0rem;
  font-weight: 900;
}
.info {
  display: flex;
  padding: 0.5rem;
  padding-left: 1.2rem;
  width: 100%;
}

.info h3 {
  font-size: 1.3rem;
}
.grey {
  width: 100%;
  background: rgb(119, 119, 119, 0.7);
}
.white {
  background: #f1f1f1;
}
.generalname {
  margin-left: 2rem;
}
/* pickup */
.img {
  margin: 0rem 0.4rem;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

#state {
  width: 32.6rem;
  margin: 1.6rem 0rem;
  /* new */
  height: 1.8rem;
  border-radius: 0.2rem;
}
/* new */
#lga {
  width: 32.6rem;
  height: 1.8rem;
}
textarea {
  width: 34rem;
  height: 8rem;
  outline: none;
}
.clearance {
  width: 47rem;
  margin: auto;
  margin-top: 2rem;
  background: rgba(151, 150, 150, 0.8);
  padding: 0.4rem 0rem;
}
.clearanceitem {
  margin: auto;
  text-align: center;
}
.control-h3 {
  display: block;
}
.delivery,
.return {
  background: khaki;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  padding: 1.6rem 0rem;
  width: 34rem;
  margin: auto;
  margin-top: 1rem;
  cursor: pointer;
}

.delivery:hover {
  box-shadow: 0px 2px 13px rgb(0, 0, 0, 0.6);
}

.deliveryheading {
  text-align: center;
  padding-top: 0.7rem;
}
.deliveryinfo h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.deliveryinfo p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0, 0.8);
}

.deliverymethod {
  background: rgba(151, 150, 150, 0.8);
  width: 40rem;
  padding-bottom: 2rem;
  margin: auto;
  margin-top: 2rem;
}
/* addition */
.buyername {
  margin-top: 0.1rem;
}
.buyersname label {
  text-align: start;
}
/* loading animation */
/* payment */
.buyitemcontainer {
  width: 30rem;
  background: white;
  margin:auto;
  border-radius: 0.3rem;
  margin-top: 2.6rem;
  text-align: center;
  box-shadow: 0px 0px 9px rgb(0, 0, 0, 0.4);
}
.buyitem input {
  display: block;
  border: 1px solid #eeeeee;
}
.imga {
  width: 2.5rem !important;
}
.imgb {
  width: 2.1rem !important;
}
.imgc {
  width: 2.9rem !important;
}
/* javascript code */
.redborder {
  border: red;
  border: 2px solid red;
}
.greenborder {
  border: 3px solid #38ef7d;
}
.redcolor {
  color: red;
}
.none {
  display: none;
}

.laptopCheckout select {
  min-width: 27rem;
  padding: 0.2rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  margin: 1rem;
  box-shadow: 0px 0px 2px rgb(71, 60, 40);
}

.buyitem {
  margin: auto;
}
.cnl {
  margin-left: 1.6rem;
}
.buyitemcontainer h1 {
  width: 100%;
  height: 3.7rem;
  text-align: center;
  padding-top: 0.4rem;
  background: rgba(151, 150, 150, 0.8);
}
.cardno {
  min-width: 90%;
  padding: 0.8rem;
  outline: none;
  border: none;
  border: 4px solid wheat;
  border-radius: 0.3rem;
  margin: auto;
  /* margin-left: 1.6rem; */
  margin-bottom: 2rem;
  box-shadow: 0px 0px 2px rgb(71, 60, 40);
}
/* new */
#paysel {
  height: 2.7rem;
  text-align: center;
}
.input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.input label{
 margin-left: 0.4rem;
}
.buyer{
  padding-top: 1rem;
}
.input1 {
  display: block;
  text-align: start;
}
.input3 {
  text-align: start;
}
.input2 {
  text-align: start;
}

.expdate,
.cv {
  padding: 0.8rem;
  width: 5rem;
  outline: none;
  border: #dddddd;
  border: 2px solid black;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 2px rgb(71, 60, 40);
}
.cv {
  width: 6rem;
}
.amt {
  width: 7rem;
  padding: 0.8rem;
  outline: none;
  border: none;
  border: 2px solid black;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 2px rgb(71, 60, 40);
}
.payment {
  margin: auto;
}
.cnl,
.buybtn,
.paysel option {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: 0.98rem;
}
.input label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: 0.98rem;
}
.expdate {
  width: 8rem;
}
.holder {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px darkgray;
}
.hh {
  display: flex;
  background: white;
  border: wheat;
  border-radius: 0.3rem;
  text-align: center;
  margin: auto;
  width: 27rem;
  padding: 0.7rem;
  margin-top: 1.59rem;
  box-shadow: 0px 2px 5px darkgray;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.buybtncontainer {
  text-align: center;
}
.laptopCheckout button {
  width: 90%;
  padding: 0.8rem;
  outline: none;
  border: none;
  background: #38ef7d;
  border-radius: 0.3rem;
  margin: 2rem 0rem;
  cursor: pointer;
  box-shadow: 0px 2px 5px darkgray;
}
.buyerinfo h1 {
  height: 3.7rem;
  text-align: center;
  background: rgba(151, 150, 150, 0.8);
}
.buyerinfo {
  width: 33rem;
  background: white;

  margin: auto;
}
.buyerinfo label {
  display: block;
  margin-left: 2rem;
}
.buyersname {
  margin-top: 1rem;
}
/* addition */
.landmark {
  margin-top: 0.2rem;
  padding: 0.38rem;
}
.cnl,
.cardnotext {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder !important;
}
/* addition */
.forname,
.foremail,
.passwtext,
.fornumber {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  margin-top: 1rem;
}
/* addition */
.select {
  margin: 0rem;
}
.forlandmark {
  /* addition imideiately below */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 1rem;
  color: rgb(255, 0, 0);
  font-weight: bolder;
  letter-spacing: 0.15rem;
  /* text-shadow: 0px 1px 0px rgb(0, 0, 0); */
}

.buyerinfo input {
  min-width: 27rem;
  padding: 0.8rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 2px rgb(71, 60, 40);
}
/* footer */
.links {
  display: flex;
  flex-wrap: wrap;
}
footer {
  background: #282828;
}
.li {
  margin-top: 2rem;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer a {
  color: #d6d3d3;
}
.links p {
  margin: 0.5rem 2rem;
  font-family: monospace;
}
.tgram {
  border-radius: 0.2rem;
}
.sm-links {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  margin: auto;
}
.links a:hover {
  color: #38ef7d;
  cursor: pointer;
}
.links2 p {
  margin-left: 1rem;
  color: white;
  font-family: monospace;
}

.app-container h2,
.app-container p {
  color: white;
}
.app-container h2 {
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.app-container p {
  font-size: 0.7rem;
}
.app1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-img {
  margin-left: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  /* margin: 0.1rem; */
}
.app1 {
  cursor: pointer;
  width: fit-content;
  border: 1.6px solid white;
  border-radius: 0.2rem;
  margin: 0.4rem;
}
.app1:hover {
  background: rgba(255, 255, 255, 0.25);
}
.app-img-container {
  display: flex;
}
.text-container h2 {
  font-size: 1rem;
  text-align: start;
}
.text-container {
  padding: 0.2rem;
  width: fit-content;
}
.text-container p {
  font-size: 0.7rem;
  text-align: center;
}
.links2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(17, 16, 16, 0.8);
  padding: 0.8rem 0.1rem;
}
.app-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 0.6rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  width: fit-content;
  margin-left: auto;
}
.links2 {
  flex-wrap: wrap;
}
.tgram {
  padding: 0.4rem;
  cursor: pointer;
}
/* media queries */
@media only screen and (max-width: 1673px) {
  .img1,
  .img2 {
    min-width: 24rem;
    height: 23rem;
  }
}
@media only screen and (max-width: 1541px) {
  .clearance {
    max-width: 38rem;
    padding-bottom: 2rem;
  }
  #state {
    width: 90%;
    margin-left: 2rem;
    margin: auto;
    margin-top: 1rem;
  }
  textarea {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
  .delivery,
  .return {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
  .img1,
  .img2 {
    height: auto;
  }
}
@media only screen and (max-width: 1111px) {
  .product-info {
    max-width: 36rem;
    margin-right: 2rem;
  }
  .clearance {
    padding-bottom: 2rem;
  }
  .buyitemcontainer {
    margin-top: 2rem;
  }
  #state {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
  }
  textarea {
    width: 80%;
    margin-top: 1rem;
  }
  .delivery,
  .return {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }
  .productwrapper {
    display: block;
  }
  .product-info {
    width: 100%;
    max-width: none;
  }
  .clearance {
    margin-left: 0rem;
    margin: auto;
    margin-top: 3rem;
  }
  .payment {
    display: block;
    margin-top: 2rem;
  }
  .buyitemcontainer {
    margin: auto;
    margin-bottom: 2rem;
  }
  .deliverymethod {
    margin: auto;
  }
}
@media only screen and (max-width: 863px) {
  .img1,
  .img2 {
    margin-left: 0.5rem;
  }
  .company-logo-container {
    width: 1.6rem;
    height: 1.6rem;
  }
  .company-name {
    font-size: 0.8rem;
  }
  .navigation {
    height: 2.7rem;
  }
}
@media only screen and (max-width: 850px) {
  .links2 {
    display: block;
    margin: auto;
  }
  .cpy {
    text-align: center;
    margin: 1rem;
  }
  .app-container,
  .sm-links {
    margin-left: 36%;
  }
}
@media only screen and (max-width: 813px) {
  .img1,
  .img2 {
    width: 21rem;
    min-width: 6rem;
  }
}
@media only screen and (max-width: 716px) {
  .laptopCheckout .img1,
  .img2 {
    display: block;
    width: 95%;
    margin: auto;
    padding-top: 1rem;
    height: auto;
  }
  .laptopCheckout .product-info-heading {
    background-color: #f1f1f1;
  }
  .laptopCheckout .product-img-container {
    background-color: #f1f1f1;
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 671px) {
  .deliverymethod {
    width: 100%;
  }

  .clearance {
    width: 100%;
   margin: auto;
   margin-top: 2rem;
  }

  .buyerinfo input {
    margin-left: 0rem;
    width: 90%;
    min-width: 0rem;
  }
  .buyerinfo {
    width: 80%;
  }
}
@media only screen and (max-width: 649px) {
  .imgc {
    min-width: 2.8rem;
  }
  .returnpolicy {
    padding-right: 1rem;
  }
}
/* addition */
@media only screen and (max-width: 548px) {
  .name {
    font-size: larger;
    margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 519px) {
  .app-container {
    margin-left: 24%;
  }
  /* new */
  .company-logo-container {
    width: 1.5rem;
    height: 1.5rem;
  }
  .company-name h1 {
    font-size: 1.39rem;
  }
  .navigation {
    height: 2.5rem;
  }
}
@media only screen and (max-width: 489px) {
  .laptopCheckout select {
    width: 90%;
    min-width: 3rem;
  }
  #paysel {
    width: 90%;
  }
  .cardno {
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .input {
    margin: auto;
  }
  .hide {
    display: none;
  }
  .input1 input {
    width: 5rem;
    min-width: 3rem;
    padding: 0.7rem 0.2rem;
  }
  .input2 input {
    width: 5rem;
    min-width: 3rem;
    padding: 0.7rem 0.2rem;

  }
  .input3 input {
    width: 5rem;
    min-width: 3rem;
    padding: 0.7rem 0.2rem;

  }
  .laptopCheckout .buybtn {
    width: 90%;
    min-width: 3rem;
  }
}

@media only screen and (max-width: 481px) {
  .buyitemcontainer{
    width: 100%;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 455px) {
  .forname,
  .foremail,
  .passwtext,
  .fornumber {
    margin-top: 0.3rem;
  }
  .buyersname {
    margin-top: 0.1rem;
  }
}
/* addition */
@media only screen and (max-width: 442px) {
  .buyerinfo h1,
  .buyitemcontainer h1,
  .deliveryheading {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 418px) {
  
  .sm-links {
    margin-bottom: 2rem;
  }
  .app-container {
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 326px) {
  .input1 input {
    width: 4rem;
    padding: 0.6rem 0.2rem;
  }
  .input2 input {
    width: 4rem;
    padding: 0.6rem 0.2rem;
  }
  .input3 input {
    width: 4rem;
    padding: 0.6rem 0.2rem;
  }
}
@media only screen and (max-width: 302px) {
  .app-container h2 {
    font-size: 1.1rem;
  }
  .text-container h2 {
    font-size: 0.9rem;
    padding-left: 0.2rem;
  }
  .text-container p {
    font-size: 0.7rem;
  }
}
