.loginWrapper {
  -moz-background:#007991;
  -o-background:#007991;
  -webkit-background:#007991;
  background: #007991;
  width: 100%;
  height: 100vh;
  background: -o-linear-gradient(to right, #78ffd6, #007991);
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);
  background: linear-gradient(to left, rgb(120, 255, 214), rgb(0, 121, 145));
  /*  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login {
  width: 23rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -moz-background:#eeeeee;
  -o-background:#eeeeee;
  -webkit-background:#eeeeee;
  background: #eeeeee;
  border-radius: 0.58rem;
  padding-bottom: 0.1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}
.login h1 {
  padding-top: 0.9rem;
}
.loginWrapper .back {
  width: 1.8rem;
  height: 1.8rem;
  padding-top: 1.2rem;
  margin-left: 1rem;
}
.forgotpassword :hover{
  color: #38ef7d;
}
.forgotpassword{
  padding-bottom: 1rem;
  cursor: pointer;
}
.login input {
  border: none;
  outline: none;
  width: 84%;
  padding: 0.8rem 0.8rem;
  text-align: center;
  margin: 1.3rem 0rem;
  border-radius: 0.2rem;
  margin-left: 0.3rem;
  box-shadow: 0px 0.3px 1.4px grey;
}
.login button {
  border: none;
  outline: none;
  width: 82%;
  background: #38ef7d;
  box-shadow: 0px 1.4px 2px darkgray;
  cursor: pointer;
  padding: 0.8rem 3rem;
  text-align: center;
  margin: auto;
  margin-bottom: 1.9rem;
  margin-top: 1rem;
}
.login .button{
  text-align: center;
  margin: auto;
}
.error {
  font-weight: bolder;
  color: red;
}
.forgotPassswordLink {
  color: red !important;
  margin-top: 1rem;
}
@media (max-width: 619px) {
  .login {
    width: 20rem;
  }
}
@media (max-height: 443px) {
  .login input{
    margin: 0.8rem 0rem ;
  }
}
@media (max-height: 409px) {
  .login input{
    margin: 0.8rem 0rem ;
    padding: 0.6rem;
  }
  .loginWrapper{
    padding-top: 2rem;
  }
  .login button{
    padding: 0.5rem 3rem;
    margin-bottom: 2rem;
    margin-top: 0.8rem;
  }
  .login h1{
    padding-top: 0.5rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 377px) {
  .login {
    width: 90%;
  }
}
@media (max-width: 363px) {
  .login input {
    margin: 1.2rem 0rem;
  }
  .login button {
    margin-left: 0.4rem;
  }
}
@media (max-height: 432px) {
  .login input{
    margin: 0.6rem 0rem ;
    padding: 0.6rem;
  }
  .login button{
    padding: 0.5rem 3rem;
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;
  }
}
@media (max-width: 317px) {
  .login h1 {
    padding-top: 0.6rem;
    font-size: 1.6rem;
  }
}
