.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}
.search-container input,
.search-container select,
.search-container button {
  padding: 1.3rem;
  outline: none;
  box-shadow: 0px 2px 5px rgb(197, 184, 184);
  margin-bottom: 2rem;
}
.search-container button {
  padding: 1.3rem 1.8rem;
  border: none;
  background: #38ef7d;
  border-left: 1px solid grey;
  cursor: pointer;
}
.cancelSearchButton {
  width: 1rem;
  margin-bottom: 2rem;
  margin-left: 1.6rem;
  cursor: pointer;
}
.search-container input {
  width: 32rem;
  border: none;
}
.search-container select {
  padding: 1.2rem 1.8rem;
  outline: none;
  cursor: pointer;
  border: none;
}
.search-container button:hover {
  background: #17cf5e;
}
.bb {
  margin: auto;
  text-align: center;
}
/* cards */
.product {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: auto;
}
.card {
  width: 13.6rem;
  background: rgb(253, 245, 168);
  border-radius: 1rem 1rem 0rem 0rem;
  box-shadow: 0px 2px 5px darkgray;
  border-radius: 0.3rem;
  margin: 0rem 2rem;
  cursor: pointer;
  margin-top: 2rem;
}
.invalidSearch{
  margin: auto;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 7rem;
}
.card-img-container {
  width: 100%;
}
.card-img-container img {
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  width: 100%;
  height: 9rem;
  border-bottom: 1px solid grey;
}
.section{
  text-align: center;
  margin-top: 2rem;
  font-family:'Courier New', Courier, monospace;
}
.filter{
  margin: auto;
  text-align: center;
  display: flex;
  margin-top: 1.4rem;
  align-items: center;
  justify-content: center;
}
.filter label{
  cursor: pointer;
}
.filter label{
  margin-right: 1rem;
}
.filter label :hover{
  color: #38ef7d;
}
.slider{
  padding-top: 5rem;
  width: 95%;
  margin: auto;
  height: fit-content;
  padding-bottom: 1rem;
}
.slider div{
  height: 22rem;
}
.card-info {
  padding: 0.15rem;
}
.card-info h3 {
  padding-bottom: 0.2rem;
  margin-left: 0.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.card-info  .productPrice {
  font-family: monospace;
  display: flex;
  align-items: center;
}
.card-info p {
  margin-left: 0.3rem;
  font-family: monospace;
}
.card-info .Price {
  margin-left: 0rem;
}
.b-t-n {
  width: 90%;
  margin: 0.6rem 0rem;
  /* margin-left: 0.6rem; */
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  background: none;
  background: #38ef7d;
  box-shadow: 0px 2px 3px grey;
  cursor: pointer;
}
.b-t-n:hover {
  background: #17cf5e;
}
/* for loading animation */
.loader > div {
  width: 1.5rem;
  height: 1.5rem;
  background: #38ef7d;
  border-radius: 50%;
  display: inline-block;
  animation: Bounce 1.5s infinite both;
}
.block{
  display: block !important;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.loader .loader1 {
  animation-delay: -0.3s;
}
.loader .loader2 {
  animation-delay: -0.15s;
}
@keyframes Bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
@media (max-width: 1144px) {
  .product {
    flex-wrap: wrap;
  }
  .card {
    margin: 0rem 1rem;
    margin-top: 2rem;
  }
  .slider div{
    height: 18rem;
  }
}
@media (max-width: 1032px) {
  .product {
    flex-wrap: wrap;
    max-width: 670px;
  }
  .slider {
    width: 85%;
  }
  .card {
    margin: 1rem 3rem;
  }
}
@media (max-width: 815px) {
  .search-container input,
  .search-container select,
  .search-container button {
    padding: 1.2rem;
  }
  .search-container select {
    width: 6rem;
  }
  .search-container {
    width: 100%;
  }
  .search-container input {
    width: 60%;
  }
}
@media (max-width: 803px) {
  .product {
    flex-wrap: wrap;
  }
  .slider div{
    height: 15rem;
  }
}
@media (max-width: 644px) {
  .card {
    margin: 1rem 2rem;
  }
}
@media (max-width: 642px) {
  .card {
    margin: 1rem 1.5rem;
  }
}

@media (max-width: 564px) {
  .card {
    width: 12rem;
  }
  .search-container input,
  .search-container select,
  .search-container button {
    padding: 0.9rem;
  }
  .card-img-container img {
    height: 8rem;
  }
  .search-container {
    padding-top: 5.5rem;
  }
}
@media (max-width: 526px) {
  .card {
    margin: 1rem 1.4rem;
  }
}
@media (max-width: 488px) {
  .card {
    width: 10.3rem;
    margin: 1rem 1.5rem;
  }
  .card-img-container img {
    height: 7rem;
  }
  .card-info {
    padding: 0.08rem;
  }
  .card-info h3 {
    padding-bottom: 0.1rem;
    margin-left: 0.2rem;
    font-size: 1.1rem;
  }
  .card-info p {
    margin-left: 0.2rem;
    font-size: 0.78rem;
  }
  .b-t-n {
    margin-top: 0.35rem;
    margin-bottom: 0.49rem;
  }
  .search-container input {
    width: 50%;
  }
}
@media (max-width: 490px) {
  .slider div{
    height: 14rem;
  }
  .slider{
    padding-top: 4.5rem;
  }
}
@media (max-width: 426px) {
  .card {
    margin: 1rem ;
  }
  .card-info {
    padding: 0.08rem;
  }
  .card-info h3 {
    font-size: 1rem;
  }
  .card-info p {
    font-size: 0.8rem;
  }
}
@media (max-width: 403px) {
  .card {
    /* width: 10rem; */
    margin: 1rem 0.76rem;
  }
  .search-container input,
  .search-container select,
  .search-container button {
    padding: 0.7rem;
  }
  .slider div{
    height: 11rem;
  }
  .slider{
    padding-top: 4.5rem;
  }
}
@media (max-width: 378px) {
  .card {
    width: 9.7rem;
  }
}
@media (max-width: 369px) {
  .card {
    width: 9.5rem;
  }
  .card-img-container img {
    height: 7rem;
  }
  .card-info {
    padding: 0.08rem;
  }
  .card-info h3 {
    padding-bottom: 0.1rem;
    margin-left: 0.2rem;
    font-size: 0.97rem;
  }
  .card-info p {
    margin-left: 0.2rem;
    font-size: 0.77rem;
    font-weight: 550;
  }
  .b-t-n {
    margin-top: 0.35rem;
    margin-bottom: 0.49rem;
  }
  .search-container select {
    width: 4rem;
  }
  .search-container input,
  .search-container select,
  .search-container button {
    padding: 0.5rem;
  }
}
@media (max-width: 353px) {
  .card {
    width: 9.3rem;
    margin: 1rem 0.59rem;
  }
}
@media (max-width: 337px) {
  .card {
    width: 9rem;
  }
  .card-img-container img {
    height: 7rem;
  }
  .card-info h3 {
    font-size: 0.91rem;
  }
  .card-info p {
    font-size: 0.75rem;
    line-height: 0.8rem;
    font-weight: bolder;
  }
}
@media (max-width: 327px) {
  .card {
    width: 8.8rem;
  }
  .card-info h3 {
    font-size: 0.9rem;
  }
  .card-info p {
    font-size: 0.7rem;
    font-weight: bolder;
  }
}

@media (max-width: 320px) {
    .card {
      width: 8.35rem;
    }
    .card-img-container img {
      height: 6.7em;
    }
    .card-info p {
      font-size: 0.7rem;
      font-weight: bolder;
    }
  .b-t-n {
    padding: 0.17rem;
    font-size: 0.75rem;
    margin-top: 0.35rem;
    margin-bottom: 0.49rem;
  }
}
@media (max-width: 307px) {
  .card {
    margin: 0.5rem;
  }
}
@media (max-width: 299px) {
    .card {
      width: 8.1rem;
    }
}
@media (max-width: 292px) {
    .card {
      width: 8rem;
      margin: 1rem 0.3rem;
    }
}