.Signup {
  width: 100%;
  height: 100vh;
  background: -o-linear-gradient(to right, #78ffd6, #007991);
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);
  background: linear-gradient(rgb(120, 255, 214), rgb(0, 121, 145));
}

.signin input {
  border: 1px solid #eeeeee;
  width: 84%;
  outline: none;
  padding: 0.8rem 0.8rem;
  text-align: center;
  margin: 1.3rem 0rem ;
  border-radius: 0.2rem;
  margin-left: 0.2rem;
  box-shadow: 0px 0.3px 1.4px grey;
}
.Signup .back {
  width: 1.8rem;
  height: 1.8rem;
  padding-top: 1.2rem;
  margin-left: 1rem;
}
.signin h1 {
  padding-top: 1rem;
}
.signin {
  width: 23rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #eeeeee;
  border-radius: 0.58rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}
.signin button {
  border: none;
  outline: none;
  width: 85%;
  background: #38ef7d;
  box-shadow: 0px 1.4px 2px darkgray;
  cursor: pointer;
  padding: 0.8rem 3rem;
  margin-bottom: 1.9rem;
  font-weight: bolder;
  margin-top: 1rem;
}

.input-f {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
}
.img {
  width: 1.3rem;
}
.error {
  font-weight: bolder;
  color: red;
}
/* javascript styling */
.greenborder {
  border: 9px solid #38ef7d;
}
.redborder {
  border: 2px solid red;
}
@media (max-width: 1600px) {
  .signin input {
    margin: 1.3rem 0rem;
  }
}
@media (max-width: 619px) {
  .signin {
    width: 20rem;
  }
  .img {
    width: 1.1rem;
  }
}

@media (max-width: 377px) {
  .signin {
    width: 90%;
  }
}
@media (max-width: 363px) {
  .signin input {
    margin: 1rem 0rem;
  }
  .signin button {
    margin-left: 0.4rem;
  }
}
@media (max-height: 579px) {
  .signin input{
    margin: 0.6rem 0rem ;
  }
  .Signup{
    padding-top: 2rem;
  }
}
@media (max-height: 503px) {
  .signin input{
    margin: 0.3rem 0rem ;
  }
  .signin button{
    padding: 0.6rem 3rem;

    margin-bottom: 1.2rem;
    margin-top: 1rem;
  }
  .signin h1{
    padding-top: 0.2rem;
  }
  .signin{
    padding-bottom: 0rem;
  }
  .Signup{
    padding-top: 2rem;
  }
}
@media (max-height: 443px) {
  .signin input{
    margin: 0.2rem 0rem ;
    padding: 0.5rem;
  }
  .signin button{
    padding: 0.6rem 3rem;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
  }
  .signin h1{
    padding-top: 0.2rem;
    font-size: 1.6rem;
  }
  .Signup{
    padding-top: 2rem;
  }
}
@media (max-height: 339px) {
  .error{
    font-size: 0.85rem;
  }
}
@media (max-width: 343px) {
  .signin .img {
    margin: 0rem 0.27rem;
  }
}
@media (max-width: 317px) {
  .signin input {
    margin: 0.8rem 0rem;
  }
  .signin h1 {
    padding-top: 0.6rem;
    font-size: 1.4rem;
  }
}
